{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h2 class="text-red-700 text-4xl text-center mt-6">Adjip Association project</h2>
{% endblock %}
